@import '../../styles/mixins';

// 设置按钮的基本样式
.btn {
    position: relative;
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-x, $btn-padding-y, $btn-font-size, $btn-border-radius);
    box-shadow: $btn-box-shadow;
    cursor: pointer;
    transition: $btn-transition;

    // 给disabled添加状态
    &.disabled,
    &[disabled] {
        // 鼠标的指针形状
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
        box-shadow: none;
        // 在disabled状态下，选择button的所有子元素，及其后代元素
        > * {
            // 指针事件，设置为none，可以阻止用户的点击动作产生任何效果
            // 阻止JavaScript点击动作触发的事件
            pointer-events: none;
        }
    }
}

.btn-large {
    @include button-size($btn-padding-x-lg, $btn-padding-y-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
    @include button-size($btn-padding-x-sm, $btn-padding-y-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

.btn-primary {
    @include button-style($primary, $primary, $white);
}
.btn-danger {
    @include button-style($danger, $danger, $white);
}

.btn-default {
    @include button-style($white, $gray-400, $border-color, $white, $primary, $primary);
}

.btn-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
    box-shadow: none;
    &:hover {
       color: $btn-link-hover-color;
       text-decoration: $link-hover-decoration;
    }
    // focus是获得焦点
    &:focus,
    &.focus {
        text-decoration: $link-hover-decoration;
        box-shadow: none;

    }

    // disabled是禁用某个元素，设置元素的disabled属性
    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        pointer-events: none;

    }
}